.p__content {
    color: #fff;
    font-size: 2rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    text-align: center;
}

.h1__favorites {
    color:  #00fefc;
    margin-bottom: 4rem;
    text-shadow:  0 0 10px #f542e3;
}